@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}

@model ThucTap_1.Models.BkKtcc
<style>
    .d-flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .align-items-center {
        align-items: center;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .w-100 {
        width: 100%;
    }

    .fw-bold {
        font-weight: bold;
    }

    .align-items-start {
        align-items: start;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .justify-content-around {
        justify-content: space-around;
    }

    table, td, th {
        caption-side: bottom;
        border-collapse: collapse;
        border: 1px solid black;
    }

    .table-sm {
        height: fit-content;
    }

    .gap-10 {
        gap: 10px;
    }

    .mb-30 {
        margin-bottom: 30px !important;
    }
    
    .mb-20 {
        margin-bottom: 20px !important;
    }

    p {
        margin-block: 0;
    }
</style>
@*Page*@
<div class="d-flex flex-column align-items-center" style="font-family: 'Times New Roman', Times, serif; width: 210mm;">
    @* header *@
    <div class="d-flex justify-content-between w-100 mb-20">

        <div class="d-flex flex-column align-items-center gap-10">
            <p>SỞ Y TẾ</p>
            <p>THÀNH PHỐ HỒ CHÍ MINH</p>
            <p class="fw-bold">VIỆN Y DƯỢC HỌC DÂN TỘC</p>
        </div>

        <div class="d-flex flex-column align-items-center gap-10">
            <p class="fw-bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
            <p class="fw-bold">Độc lập - Tự do - Hạnh phúc</p>
        </div>

    </div>

    <p class="fw-bold mb-20">BẢNG KIỂM TUÂN THỦ QUY TRÌNH KỸ THUẬT CHÂM CỨU</p>

    @*genaral information*@
    <div class="d-flex flex-column align-items-start w-100 mb-20">
        <p>Ngày kiểm tra: @Model.NgayKt.ToString()</p>
        <p>Người kiểm tra: @(Model.NguoiKt != null ? Model.NguoiKt : "")</p>
        <p>Người được kiểm tra: @(Model.NguoiDuocKt != null ? Model.NguoiDuocKt : "")</p>
        <p>Khoa kiểm tra: @(Model.KhoaKt != null ? Model.KhoaKt : "")</p>
        <p>Số hồ sơ nhập viện: @(Model.SoHs != null ? Model.SoHs : "")</p>
    </div>

    @*Scoring table*@
    <table class="table table-sm table-bordered border-dark mb-30">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td class="fw-bold" colspan="2">THỰC HIỆN</td>
            </tr>
            <tr>
                <td class="text-center">STT</td>
                <td class="text-center">CÁC BƯỚC TIẾN HÀNH</td>
                <td class="text-center">Điểm chuẩn</td>
                <td class="text-center">Điểm đạt</td>
            </tr>

            @* A *@
            <tr>
                <td class="text-center"></td>
                <td class="text-left fw-bold">A. Chuẩn bị người bệnh (Bác sĩ, điều dưỡng)</td>
                <td class="text-center">2.5</td>
                <td class="text-center">
                    @{
                        double? totalA = Model.A11 + Model.A12 + Model.A13 + Model.A21 + Model.A22 + Model.A23;
                    }
                    @totalA
                </td>
            </tr>

            @* A.1 *@
            <tr>
                <td class="text-center">1</td>
                <td class="text-left">Người bệnh đã được xác nhận:</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Họ và tên, năm sinh, giới tính, địa chỉ</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.A11</td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Chẩn đoán trước khi thực hiện kỹ thuật</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.A12</td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Vị trí và tư thế thực hiện kỹ thuật</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.A13</td>
            </tr>

            @* A.2 *@
            <tr>
                <td class="text-center">2</td>
                <td class="text-left">Các phương tiện thực hiện kỹ thuật đầy đủ theo qui định</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Kim châm cứu vô khuẩn dùng 01 lần, khay đựng dụng cụ, kìm có mấu vô khuẩn, bông, cồn sát khuẩn, dung dịch rửa tay nhanh</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.A21</td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Hộp chống sốc</td>
                <td class="text-center">0.25</td>
                <td class="text-center">@Model.A22</td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Máy điện châm hoạt động tốt<span class="fst-italic">(dùng trong kỹ thuật điện châm - kỹ thuật hào châm không có máy điện châm vẫn đạt điểm)</span></td>
                <td class="text-center">0.25</td>
                <td class="text-center">@Model.A23</td>
            </tr>

            @* B *@
            <tr>
                <td class="text-center"></td>
                <td class="text-left fw-bold">B. Các bước thực hiện qui trình</td>
                <td class="text-center">05</td>
                <td class="text-center">
                    @{
                        double? totalB = Model.B3 + Model.B4 + Model.B5 + Model.B6a + Model.B6b + Model.B7;
                    }
                    @totalB
                </td>
            </tr>

            @* B.3 *@
            <tr>
                <td class="text-center">3</td>
                <td class="text-left">Xác định lại người bệnh và chẩn đoán</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.B3</td>
            </tr>

            @* B.4 *@
            <tr>
                <td class="text-center">4</td>
                <td class="text-left">Xác định vị trí và công thức huyệt theo phác đồ</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.B4</td>
            </tr>

            @* B.5 *@
            <tr>
                <td class="text-center">5</td>
                <td class="text-left">Rửa tay đúng kỹ thuật; sát trùng da vùng huyệt thực hiện kỹ thuật</td>
                <td class="text-center">01</td>
                <td class="text-center">@Model.B5</td>
            </tr>

            @* B.6.a *@
            <tr>
                <td class="text-center" rowspan="2">6</td>
                <td class="text-left">
                    a. Kỹ thuật châm kim:<br />
                    - Thì 1: Ngón cái và ngón trỏ tay (T) ấn và căng da vùng huyệt; Tay (P) châm kim nhanh qua da vùng huyệt.<br />
                    - Thì 2: Đẩy kim tử từ theo huyệt đạo, kích thích kim đến khi đạt "Đắc khí"<br />
                </td>
                <td class="text-center">01</td>
                <td class="text-center">@Model.B6a</td>
            </tr>

            @* B.6.b *@
            <tr>
                <td class="text-left">
                    b. Dùng máy điện châm <span class="fst-italic">(dùng trong kỹ thuật điện châm - kỹ thuật hào châm không có máy điện châm vẫn đạt điểm)</span>: Nối cặp dây của máy điện châm với kim theo tần số bổ (1-3Hz) tả (5-10 Hz). Cường độ từ 0 - 150 microAmpe (theo sức chịu đựng của bệnh nhân). Thời gian 20 - 30 phút/lần
                </td>
                <td class="text-center">01</td>
                <td class="text-center">@Model.B6b</td>
            </tr>

            @* B.7 *@
            <tr>
                <td class="text-center">7</td>
                <td class="text-left">Rút kim, sát khuẩn da vùng huyệt vừa châm</td>
                <td class="text-center">01</td>
                <td class="text-center">@Model.B7</td>
            </tr>

            @* C *@
            <tr>
                <td class="text-center"></td>
                <td class="text-left fw-bold">C. Theo dõi và xử trí tai biến (Bác sĩ, điều dưỡng)</td>
                <td class="text-center">2.5</td>
                <td class="text-center">
                    @{
                        double? totalC = Model.C81 + Model.C82 + Model.C9 + Model.C10 + Model.C11;
                    }
                    @totalC
                </td>
            </tr>

            @* C.8 *@
            <tr>
                <td class="text-center">8</td>
                <td class="text-left">Bác sĩ xem xét lại</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Toàn trạng của người bệnh</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.C81</td>
            </tr>
            <tr>
                <td class="text-center"></td>
                <td class="text-left">- Các tai biến có thể xảy ra (vựng châm, chảy máu...)</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.C82</td>
            </tr>

            @* C.9 *@
            <tr>
                <td class="text-center">9</td>
                <td class="text-left">Xử trí tai biến (nấy không có tai biến, được tính đủ điểm)</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.C9</td>
            </tr>

            @* C.10 *@
            <tr>
                <td class="text-center">10</td>
                <td class="text-left">Rửa tay đúng kỹ thuật</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.C10</td>
            </tr>

            @* C.11 *@
            <tr>
                <td class="text-center">11</td>
                <td class="text-left">Điều dưỡng hướng dẫn người bệnh theo dõi, cách sinh hoạt sau thực hiện kỹ thuật, ghi phiếu chăm sóc</td>
                <td class="text-center">0.5</td>
                <td class="text-center">@Model.C11</td>
            </tr>

            @* Tong diem *@
            <tr>
                <td></td>
                <td class="text-left">Tổng Điểm</td>
                <td class="text-center">10</td>
                <td class="text-center">@(totalA + totalB + totalC)</td>
            </tr>

            @* Xep loai *@
            <tr>
                <td></td>
                <td class="text-left">Xếp loại</td>
                <td class="text-center" colspan="2">@Model.XepLoai</td>
            </tr>
        </tbody>
    </table>

    @* Nhan xet *@
    <div class="w-100">Nhận xét: </div>

    @*Signature*@
    <div class="d-flex justify-content-around w-100" style="height: 150px">
        <div>Lãnh Đạo Khoa</div>

        <div class="d-flex flex-column justify-content-between">
            <div>Người kiểm tra</div>
            <div class="text-center">@(Model.NguoiKt != null ? Model.NguoiKt : "")</div>
        </div>

        <div class="d-flex flex-column justify-content-between">
            <div>Người được kiểm tra</div>
            <div class="text-center">@(Model.NguoiDuocKt != null ? Model.NguoiDuocKt : "")</div>
        </div>
    </div>
</div>
@*/Page 1*@